@corDestaque:#ee9b35;     // Texto e detalhes
@corPrimaria:#ee9b35;     // Texto e detalhes
@corFundo:#0e1116;        // Fundo escuro moderno
@corTexto:#f5c542;     // Dourado suave (hover, ícones, etc.)
@corSecundaria:#1a2733;   // Elementos e seções
@corBorda:#2f3b47;        // Linhas sutis